@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    box-sizing:0;
}

body{
    background-image: linear-gradient(-90deg,#1e1e24,#1b1b2c);
}
.contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.profile-picture{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.profile-picture img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.icons img{
    width: 50px;
    height: 50px;
    transition: 0.5s ease all;
}
.name {
    text-align: center;
    line-height: 40px;
}
.name h1{
    color: #FB9F89;
    font-size: 50px;
    font-family: 'roboto','sans-serif';
    font-weight: bold;
}
.name h2{
    color: #FB9F89;
    font-size: 20px;
    font-family: 'roboto','sans-serif';
    font-weight:lighter;
}
.name p{
    color: #FB9F89;
    font-size: 18px;
    font-family: 'roboto','sans-serif';
    font-weight:normal;
    text-align: justify;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#button-1{
    background-color:#FB9F89;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    color: #1e1e24;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.5s ease all;
}
#button-2{
    background-color: transparent;
    border: 3px solid #FB9F89;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.5s ease all;
}